.root{
    -fx-background-color: linear-gradient(from 300px 300px to 500px 500px, rgb(33,61,61), rgb(69, 83, 84));
    -fx-font-family: Helvetica;
    -fx-font-size: 18px;
}

.label{
    -fx-text-fill: rgb(204,234,80);
    -fx-font-size:24px;
}

.button {
    -fx-background-radius: 15;
}